@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/functions";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "layout/header";
@import "layout/grid";
@import "layout/footer";

@import "components/button";
@import "components/composition";
@import "components/amenity-box";
@import "components/bg-video";
@import "components/testimonial";
@import "components/plan";
@import "components/contact";
@import "components/form";

@import "pages/home";
