.heading-primary {
	color:$white;
	margin-bottom:2.5rem;
	font-weight:400;
	position:absolute;
	
	&--main {
		font-size:7rem;
		text-transform:uppercase;
		letter-spacing:.2rem;
		display:block;
	}

	&--sub {
		display:block;
		font-family:"Satisfy",serif;
		font-size:2.6rem;
	}

	@include respond(laptops) {
		margin-top: 1rem;
		left:50%;
		transform:translate(-50%,-50%);
		text-align:center;
	}

	@include respond(big-desktop) {
		margin-top: 3rem;
		left:50%;
		transform:translate(-50%,-50%);
		text-align:center;
	}

}

.heading-secondary {
	font-size:3.5rem;
	text-transform:uppercase;
	font-weight:700;
	background-image:linear-gradient(to right, $primary-light, $secondary-light);
	-webkit-background-clip:text;
	color:transparent;
	transition:all 1s;

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow:.5rem 2rem 2rem rgba($black, .2);
	}

	@include respond(laptops) {
		margin-bottom: 6rem;
	}

	@include respond(big-desktop) {
		margin-bottom: 10rem;
	}
}

.heading-tertiary {
	font-size:$default-font-size;
	font-weight:700;
	text-transform:uppercase;
}

.paragraph {
	font-size:$default-font-size;

	&:not(:last-child) {
		margin-bottom:3rem;
	}
}
